@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

<style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

 </style>


<!-- Custom styles for this template -->
<link href="/grid.css" rel="stylesheet">

<h2 class="mt-4">Three unequal columns</h2>
<p>Get three columns <strong>istarting at desktops and scaling to large desktops</strong> of various widths. Remember, grid columns should add up to twelve for a single horizontal block. More than that, and columns start stacking no matter the viewport.</p>
<div class="row mb-3">
    <div class="col-md-3 themed-grid-col">.col-md-3</div>
    <div class="col-md-3 themed-grid-col">.col-md-2</div>
    <div class="col-md-3 themed-grid-col">.col-md-2</div>
    <div class="col-md-3 themed-grid-col">.col-md-2</div>
    <div class="col-md-3 themed-grid-col">.col-md-3</div>
</div>